body{
margin: 0px;
padding: 0px;
font-family: calibri;
background-image: url('../images/background-dandelion.png');
background-repeat:no-repeat;
}

a {text-decoration: none;}
a:link {color: navy; font-weight: bold;}
a:active {color: rgb(210,105,30);}
a:visited {color: navy; font-weight: bold;}

#header {
height: 25px;
border-bottom: 1px solid gray;
margin: 5px;
padding:4px 10px 0;
}

#header-logo {
float: left;
}

#header ul {
float:right;
height:16px;
line-height:16px;
margin:0;
overflow:hidden;
padding:2px 0 0;
position:relative;
}

#header ul li {
border-left:1px solid #666666;
display:inline;
float:left;
list-style:none outside none;
margin:0 14px 0 -7px;
padding:0;
}

#header ul a {
color: navy;
font-weight: bold;
display:block;
margin:0 0 0 7px;
text-decoration:none;
}


#footer {
bottom: 0;
width:100%;
}

#footer p {
text-align: center;
}


#content {
padding: 40px;
margin: 0px;
}

#content h1 {
font-size: 150%;
color: rgb(210,105,30);
}
#content h2 {
font-size: 130%;
color: navy;
}

p {
font-size: 110%;
}

#content li {

}

#about {
 margin-left: auto;
 margin-right: auto;
 width: 800px ;
 text-align: justify;
}


.logo {
margin-left: auto;
margin-right: auto;
margin-top: 50px;
margin-bottom: 50px;
width: 444px;
}

#tagline {
float: right;
margin: 0;
/* font-family: courier; */
font-style: italic;
font-size: 100%;
}

.search {
margin-left: auto;
margin-right: auto;
width: 550px;
/*padding-left: 30px ;*/
}

.search p{
	font-size:80%;
}

#search-form input {
background: white;
border: 1px solid orange;
height: 40px;
font-size: 20px;
width:490px;
margin:0;
}

#search-form button{
background: white;
height: 43px;
border: 1px solid orange;
font-size: 20px;
color: rgb(37,64,97);
font-weight: bold;
}


.links {
margin-left: auto;
margin-right: auto;
width: 450px;
color:gray;
text-align: center;
}


#trans-box {
  filter:alpha(opacity=80);
  opacity:0.8;
  background: white;
  border: 1px solid black;
  padding: 10px;
}

#text {
  margin: 30px;
}

.http-uri {
background: white;
border: 1px solid gray;
padding: 2px;
}



#suggestions {
	margin:0;
	top:-10px;
	display:none;
	left:0px;
	position:relative;
	width:490px;
}
	
#searchresults {
background-color:#A0A0A0;
border:1px solid #919191;
font-size:10px;
line-height:14px;
width:490px;
}

#searchresults a {
background-color:#E4E4E4;
clear:left;
display:block;
height:56px;
text-decoration:none;
}
#searchresults a:hover {
background-color:#B7B7B7;
color:#FFFFFF;
}
#searchresults a img {
float:left;
padding:5px 10px;
}
#searchresults a span.searchheading {
color:#191919;
display:block;
font-weight:bold;
padding-top:5px;
}

#searchresults a:hover span.searchheading {
color:#FFFFFF;
}
#searchresults a span {
color:#555555;
}
#searchresults a:hover span {
color:#F1F1F1;
}
#searchresults span.category {
color:#FFFFFF;
display:block;
font-size:11px;
margin:5px;
}
#searchresults span.seperator {
background-image:url(../images/shortcuts_arrow.gif);
background-position:right center;
background-repeat:no-repeat;
float:right;
margin-right:5px;
padding-right:15px;
}
#searchresults span.seperator a {
background-color:transparent;
color:#FFFFFF;
display:block;
height:auto;
margin:5px;
}


