body{
margin: 0px;
padding: 0px;
font-family: calibri;
background-image: url('../images/background-dandelion.png');
background-repeat:no-repeat;
}

#header {
height: 25px;
border-bottom: 1px solid gray;
margin: 5px;
padding:4px 10px 0;
}

#header-logo {
float: left;
}

#header ul {
float:right;
height:16px;
line-height:16px;
margin:0;
overflow:hidden;
padding:2px 0 0;
position:relative;
}

#header ul li {
border-left:1px solid #666666;
display:inline;
float:left;
list-style:none outside none;
margin:0 14px 0 -7px;
padding:0;
}

#header ul a {
color:#000000;
display:block;
margin:0 0 0 7px;
text-decoration:none;
}


#footer {
bottom: 0;
width:100%;
}

#footer p {
text-align: center;
}


#content {
padding: 40px;
margin: 0px;
}

#content h1 {
font-size: 150%;
color: rgb(210,105,30);
}

#content p {
font-size: 110%;
}

#content li {

}

#about {
 margin-left: auto;
 margin-right: auto;
 width: 800px ;
 text-align: justify;
}


.logo {
margin-left: auto;
margin-right: auto;
margin-top: 50px;
margin-bottom: 50px;
width: 444px;
}

#tagline {
float: right;
margin: 0;
/* font-family: courier; */
font-style: italic;
font-size: 100%;
}

.search {
margin-left: auto;
margin-right: auto;
width: 444px;
/*padding-left: 30px ;*/
}

#search-form input {
background: white;
border: 1px solid orange;
height: 40px;
font-size: 20px;
}

#search-form button{
background: white;
height: 43px;
border: 1px solid orange;
font-size: 20px;
}


.links {
margin-left: auto;
margin-right: auto;
width: 450px;
color:gray;
text-align: center;
}



